body {
    margin: 20px;
    font-family: 'Roboto', sans-serif;
}

.avatar {
    width: 200px;
    height: 200px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #E3F2FD;
    color: #2b2839;
    text-shadow: #BBDEFB 1px 1px;
    border: #E3F2FD solid 1px;
    border-radius: 4px;
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover {
    background: #BBDEFB;
    color: #2b2839;
    border: #BBDEFB solid 1px;
    box-shadow: 0 0 2px #BBDEFB;
}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

